*,
*::after,
*::before {
    box-sizing: border-box;
}

:root {
    --main-color: #7d7d7d;
    --accent-color: #03a9f4;
    --Heading-color: #b4ad9e;
    --title-color: #626262;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    border: none;
}

body {
    font-family: "Playfair Display";
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 910px;
    padding-right: 15px;
    padding-left: 15px;
}

.header {
    padding-top: 70px;
    padding-bottom: 90px;
}

.menu-list {
    display: flex;
    justify-content: center;
}

.menu-item+.menu-item {
    margin-left: 100px;
}

.menu-link {
    color: var(--main-color);
    line-height: 1.35;
    text-transform: uppercase;
    font-weight: 300;
}

.menu-link:hover,
.menu-link:focus {
    color: var(--accent-color);
}

.title {
    display: none;
}

.news-category {
    margin-top: 32px;
    text-transform: uppercase;
    color: var(--Heading-color);
    font-family: "Ubuntu";
    line-height: 1.14;
    font-weight: 400;
}

.news-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 40px;
    row-gap: 130px;
}

.news-item {
    width: 420px;
}

.news-title {
    margin-top: 32px;
    color: var(--title-color);
    font-size: 30px;
    line-height: 1.33;
}

.news-text {
    margin-top: 40px;
    color: var(--title-color);
    line-height: 1.36;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    width: 165px;
    height: 60px;
    margin-bottom: 65px;
    margin-top: 95px;

    color: var(--title-color);
    line-height: 1.36;
    background-color: transparent;
    border: 1px solid var(--title-color);
}